{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<p class = "page-title"> </p><b>Calling all late adolescents and young adults! -- </b> <p>I am currently collecting data about emerging adulthood for an upcoming game-related project of mine. A survey & more info can be found here: [link forthcoming]</p></p>
<h1 class="page-title">All pages</h1>
{{ end }}

<ul class="posts">
	{{- range .Data.Pages -}}
		{{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
		<li class="post">
			<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
		</li>
		{{- end -}}
	{{- end -}}
</ul>
{{ end }}
